In [22]:
import pandas as pd
import numpy as np

df = pd.read_csv('Telco-Customer-Churn3.csv')
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [23]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [24]:
df.shape

(7043, 21)

In [25]:
# Binary columns
binary_cols = ['Partner', 'Dependents', 'PhoneService', 'OnlineSecurity', 'OnlineBackup',
               'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 
               'PaperlessBilling', 'Churn']
df[binary_cols] = df[binary_cols].replace({'Yes': 1, 'No': 0})

C:\TEMP\ipykernel_20464\2749245150.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[binary_cols] = df[binary_cols].replace({'Yes': 1, 'No': 0})

In [26]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,1,0,1,0,No phone service,DSL,0,...,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,5575-GNVDE,Male,0,0,0,34,1,No,DSL,1,...,1,0,0,0,One year,0,Mailed check,56.95,1889.5,0
2,3668-QPYBK,Male,0,0,0,2,1,No,DSL,1,...,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,7795-CFOCW,Male,0,0,0,45,0,No phone service,DSL,1,...,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,9237-HQITU,Female,0,0,0,2,1,No,Fiber optic,0,...,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1

In [27]:
df = pd.get_dummies(df, columns=['gender', 'MultipleLines', 'InternetService', 
                                 'Contract', 'PaymentMethod'], drop_first=True, dtype=int)

df.head()

,customerID,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,gender_Male,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
1,5575-GNVDE,0,0,0,34,1,1,0,1,0,...,1,0,0,0,0,1,0,0,0,1
2,3668-QPYBK,0,0,0,2,1,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,7795-CFOCW,0,0,0,45,0,1,0,1,1,...,1,1,0,0,0,1,0,0,0,0
4,9237-HQITU,0,0,0,2,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [28]:
print(df)

      customerID  SeniorCitizen  Partner  Dependents  tenure  PhoneService  \
0     7590-VHVEG              0        1           0       1             0
1     5575-GNVDE              0        0           0      34             1
2     3668-QPYBK              0        0           0       2             1
3     7795-CFOCW              0        0           0      45             0
4     9237-HQITU              0        0           0       2             1
...          ...            ...      ...         ...     ...           ...
7038  6840-RESVB              0        1           1      24             1
7039  2234-XADUH              0        1           1      72             1
7040  4801-JZAZL              0        1           1      11             0
7041  8361-LTMKD              1        1           0       4             1
7042  3186-AJIEK              0        0           0      66             1

     OnlineSecurity OnlineBackup DeviceProtection TechSupport  ...  \
0                 0            1                0           0  ...
1                 1            0                1           0  ...
2                 1            1                0           0  ...
3                 1            0                1           1  ...
4                 0            0                0           0  ...
...             ...          ...              ...         ...  ...
7038              1            0                1           1  ...
7039              0            1                1           0  ...
7040              1            0                0           0  ...
7041              0            0                0           0  ...
7042              1            0                1           1  ...

     gender_Male MultipleLines_No phone service  MultipleLines_Yes  \
0              0                              1                  0
1              1                              0                  0
2              1                              0                  0
3              1                              1                  0
4              0                              0                  0
...          ...                            ...                ...
7038           1                              0                  1
7039           0                              0                  1
7040           0                              1                  0
7041           1                              0                  1
7042           1                              0                  0

      InternetService_Fiber optic InternetService_No  Contract_One year  \
0                               0                  0                  0
1                               0                  0                  1
2                               0                  0                  0
3                               0                  0                  1
4                               1                  0                  0
...                           ...                ...                ...
7038                            0                  0                  1
7039                            1                  0                  1
7040                            0                  0                  0
7041                            1                  0                  0
7042                            1                  0                  0

      Contract_Two year  PaymentMethod_Credit card (automatic)  \
0                     0                                      0
1                     0                                      0
2                     0                                      0
3                     0                                      0
4                     0                                      0
...                 ...                                    ...
7038                  0                                      0
7039                  0                                      1
7040                  0                                      0
7041                  0                                      0
7042                  1                                      0

      PaymentMethod_Electronic check  PaymentMethod_Mailed check
0                                  1                           0
1                                  0                           1
2                                  0                           1
3                                  0                           0
4                                  1                           0
...                              ...                         ...
7038                               0                           1
7039                               0                           0
7040                               1                           0
7041                               0                           1
7042                               0                           0

[7043 rows x 26 columns]

In [31]:
df.shape

(7043, 26)

In [ ]:
# Convert TotalCharges to numeric (handle errors)
df["TotalCharges"] = pd.to_numeric(df["TotalCharges"], errors='coerce')

# Fill or drop missing TotalCharges
df["TotalCharges"].fillna(df["TotalCharges"].median(), inplace=True)

df

C:\TEMP\ipykernel_20464\1135585260.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["TotalCharges"].fillna(df["TotalCharges"].median(), inplace=True)

,customerID,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,gender_Male,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,7590-VHVEG,0,1,0,1,0,0,1,0,0,...,0,1,0,0,0,0,0,0,1,0
1,5575-GNVDE,0,0,0,34,1,1,0,1,0,...,1,0,0,0,0,1,0,0,0,1
2,3668-QPYBK,0,0,0,2,1,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
3,7795-CFOCW,0,0,0,45,0,1,0,1,1,...,1,1,0,0,0,1,0,0,0,0
4,9237-HQITU,0,0,0,2,1,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,0,1,1,24,1,1,0,1,1,...,1,0,1,0,0,1,0,0,0,1
7039,2234-XADUH,0,1,1,72,1,0,1,1,0,...,0,0,1,1,0,1,0,1,0,0
7040,4801-JZAZL,0,1,1,11,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
7041,8361-LTMKD,1,1,0,4,1,0,0,0,0,...,1,0,1,1,0,0,0,0,0,1
7042,3186-AJIEK,0,0,0,66,1,1,0,1,1,...,1,0,0,1,0,0,1,0,0,0

In [33]:
df.drop('customerID',axis=1,inplace=True)

In [35]:
df.head()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,...,gender_Male,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,Contract_One year,Contract_Two year,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,1,0,1,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
1,0,0,0,34,1,1,0,1,0,0,...,1,0,0,0,0,1,0,0,0,1
2,0,0,0,2,1,1,1,0,0,0,...,1,0,0,0,0,0,0,0,0,1
3,0,0,0,45,0,1,0,1,1,0,...,1,1,0,0,0,1,0,0,0,0
4,0,0,0,2,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 25 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   SeniorCitizen                          7043 non-null   int64
 1   Partner                                7043 non-null   int64
 2   Dependents                             7043 non-null   int64
 3   tenure                                 7043 non-null   int64
 4   PhoneService                           7043 non-null   int64
 5   OnlineSecurity                         7043 non-null   object
 6   OnlineBackup                           7043 non-null   object
 7   DeviceProtection                       7043 non-null   object
 8   TechSupport                            7043 non-null   object
 9   StreamingTV                            7043 non-null   object
 10  StreamingMovies                        7043 non-null   object
 11  PaperlessBilling                       7043 non-null   int64
 12  MonthlyCharges                         7043 non-null   float64
 13  TotalCharges                           7043 non-null   float64
 14  Churn                                  7043 non-null   int64
 15  gender_Male                            7043 non-null   int32
 16  MultipleLines_No phone service         7043 non-null   int32
 17  MultipleLines_Yes                      7043 non-null   int32
 18  InternetService_Fiber optic            7043 non-null   int32
 19  InternetService_No                     7043 non-null   int32
 20  Contract_One year                      7043 non-null   int32
 21  Contract_Two year                      7043 non-null   int32
 22  PaymentMethod_Credit card (automatic)  7043 non-null   int32
 23  PaymentMethod_Electronic check         7043 non-null   int32
 24  PaymentMethod_Mailed check             7043 non-null   int32
dtypes: float64(2), int32(10), int64(7), object(6)
memory usage: 1.1+ MB

In [37]:
# List of remaining object-type service columns
remaining_service_cols = ['OnlineSecurity', 'OnlineBackup', 'DeviceProtection',
                          'TechSupport', 'StreamingTV', 'StreamingMovies']

# Replace "No internet service" with "No"
df[remaining_service_cols] = df[remaining_service_cols].replace("No internet service", "No")

# Encode Yes/No to 1/0
df[remaining_service_cols] = df[remaining_service_cols].replace({'Yes': 1, 'No': 0})

# Confirm all columns are numeric
print(df.dtypes)

SeniorCitizen                              int64
Partner                                    int64
Dependents                                 int64
tenure                                     int64
PhoneService                               int64
OnlineSecurity                             int64
OnlineBackup                               int64
DeviceProtection                           int64
TechSupport                                int64
StreamingTV                                int64
StreamingMovies                            int64
PaperlessBilling                           int64
MonthlyCharges                           float64
TotalCharges                             float64
Churn                                      int64
gender_Male                                int32
MultipleLines_No phone service             int32
MultipleLines_Yes                          int32
InternetService_Fiber optic                int32
InternetService_No                         int32
Contract_One year                          int32
Contract_Two year                          int32
PaymentMethod_Credit card (automatic)      int32
PaymentMethod_Electronic check             int32
PaymentMethod_Mailed check                 int32
dtype: object

C:\TEMP\ipykernel_20464\3807427814.py:9: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[remaining_service_cols] = df[remaining_service_cols].replace({'Yes': 1, 'No': 0})

In [45]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, roc_auc_score, accuracy_score


X = df.drop('Churn',axis=1)
y = df['Churn']

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

model = LogisticRegression(max_iter=100)
model.fit(X_train,y_train)

y_pred = model.predict(X_test)
y_proba = model.predict_proba(X_test)[:,1]

c:\PythonEnvironments\DeepLearning\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [46]:
print("ROC-AUC: ",roc_auc_score(y_test,y_proba))

ROC-AUC:  0.8614994255074684

In [47]:
classification_report(y_test,y_pred)

'              precision    recall  f1-score   support\n\n           0       0.85      0.91      0.88      1036\n           1       0.70      0.57      0.63       373\n\n    accuracy                           0.82      1409\n   macro avg       0.78      0.74      0.75      1409\nweighted avg       0.81      0.82      0.81      1409\n'

In [48]:
accuracy_score(y_test,y_pred)

0.8204400283889283

In [52]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100)

model.fit(X_train,y_train)

y_pred = model.predict(X_test)

In [53]:
accuracy_score(y_test,y_pred)

0.801277501774308

In [60]:
from sklearn.svm import SVC

model = SVC(gamma=2)

model.fit(X_train,y_train)

y_pred = model.predict(X_test)

In [61]:
accuracy_score(y_test,y_pred)

0.7416607523066004